<div class="ecs-organize">
  <p class="ecs-organize__instructions">
    Drag to reorganize your shop. All Products will be moved along with the category.
  </p>

  <div class="ecs-organize__shop-map" *ngIf="!selectedCategory">
    <div class="ecs-organize__shop-map-header">
      <h2 class="ecs-organize__shop-map-title">Shop Map</h2>
      <ecs-icon type="plus" class="ecs-organize__shop-map-add" (click)="selectedCategory = {}"></ecs-icon>
    </div>

    <ecs-org-chart
      class="ecs-organize__shop-map-chart"
      [categories]="categories"
      (categoriesChanged)="onCategoriesChanged($event)"
      (categoryClicked)="onCategoryClicked($event)"
    >
    </ecs-org-chart>

    <button (click)="saveCategories()" type="button" class="ecs-organize__submit">Save</button>
  </div>

  <ecs-new-category-form
    *ngIf="selectedCategory"
    [category]="selectedCategory"
    [categories]="categories"
    class="ecs-organize__selected-category"
    (formClosed)="selectedCategory = undefined"
  >
  </ecs-new-category-form>
</div>