@import "_tools.fonts";
@import "_tools.breakpoints";

.ecs-organize {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__instructions {
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  &__shop-map {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;

    &-title {
      @include font-18;
    }

    &-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      background-color: green;
    }

    &-add {
      cursor: pointer;
    }

    &-chart {
      padding: 2rem;
    }
  }

  &__selected-category {
    width: 100%;

    @media screen and (min-width: $lg) {
      width: 50rem;
    }
  }

  &__submit {
    align-self: flex-end;
    padding: 1rem;
    cursor: pointer;
    width: 10rem;
    border: none;
    background-color: cadetblue;
    border-radius: 5px;
    margin: 2rem;
  }
}