@import "_settings.colors";
@import "_tools.breakpoints";
@import "_tools.fonts";

.ecs-header {
  position: relative;
  z-index: 1;

  &__menu {
    background-color: green;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    padding: 2rem 3rem 0 3rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__left {
    display: flex;
    width: auto;
  }

  &__item {
    cursor: pointer;
    display: none;
    margin-right: 3rem;
    text-transform: uppercase;

    @media screen and (min-width: $lg) {
      display: initial;
    }

    &.-menu {
      display: initial;
      font-size: 20px;
      top: -0.1rem;
      position: relative;

      @media screen and (min-width: $lg) {
        display: none;
      }
    }

    &.-bag {
      display: initial;
      font-size: 20px;
      top: -0.1rem;
      position: relative;
      margin-right: 0;
    }
  }

  &__name {
    @include font-18;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  &__shop {
    cursor: initial;
    transition: top 0.1s ease-in-out;
    width: 100%;
    position: absolute;
    left: 0;
    top: -5rem;
    background-color: yellow;
    z-index: -1;

    &.-open {
      top: 11rem;
    }
  }
}