<div class="ecs-header">

  <ul class="ecs-header__left">
    <li class="ecs-header__item -menu"><ecs-icon type="hamburger"></ecs-icon></li>
    <li class="ecs-header__item"><a routerLink="shop">Shop</a></li>
    <li class="ecs-header__item"><a routerLink="collections">Collections</a></li>
    <li class="ecs-header__item"><a routerLink="about">About</a></li>
    <li class="ecs-header__item"><a routerLink="contact">Contact</a></li>
  </ul>

  <a routerLink=""><p class="ecs-header__name">{{ siteName }}</p></a>

  <ul class="ecs-header__right">
    <li class="ecs-header__item"><a routerLink="search">Search</a></li>
    <li class="ecs-header__item"><a routerLink="account">Account</a></li>
    <li class="ecs-header__item -bag"><ecs-icon type="bag"></ecs-icon></li>
  </ul>

</div>