@mixin sidebar($colour: white) {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 50rem;
  height: 100vh;
  background-color: $colour;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.4s ease;
  overflow: scroll;
  cursor: auto;

  &.-open {
    right: 0;
    transform: translate3d(0, 0, 0);
  }

  &__close {
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}