@import "_tools.fonts";

.ecs-login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__title {
    padding: 5rem 1rem 1rem 2rem;
    background-color: black;
    color: white;
  }

  &__field {
    @include font-14;
    margin-bottom: 1rem;

    .mat-form-field-outline {
      background-color: white !important;
    }
  }

  &__submit {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__signup {
    align-self: flex-end;
    cursor: pointer;
  }
}