<div *ngIf="state | async; let state" class="ecs-home">
  <div class="ecs-home__highlight">
    <a routerLink="shop" class="ecs-home__highlight-button">Shop now</a>
    <ecs-image
      class="ecs-home__highlight-item"
      smallSrc="https://firebasestorage.googleapis.com/v0/b/somethinghandmade-1c0e1.appspot.com/o/thumb_uu9JnU5A1ps2zuMDqbXO_0_0?alt=media"
      imageSrc="https://firebasestorage.googleapis.com/v0/b/somethinghandmade-1c0e1.appspot.com/o/uu9JnU5A1ps2zuMDqbXO_0_0?alt=media&token=179b8608-5041-45de-8c5d-d22c794a9772">
    </ecs-image>
    <ecs-image
      class="ecs-home__highlight-item -second"
      smallSrc="https://firebasestorage.googleapis.com/v0/b/somethinghandmade-1c0e1.appspot.com/o/thumb_uu9JnU5A1ps2zuMDqbXO_0_0?alt=media"
      imageSrc="https://firebasestorage.googleapis.com/v0/b/somethinghandmade-1c0e1.appspot.com/o/uu9JnU5A1ps2zuMDqbXO_0_0?alt=media&token=179b8608-5041-45de-8c5d-d22c794a9772">
    </ecs-image>
  </div>
  <div class="ecs-home__section">
    <h1 class="ecs-home__section-title">Browse</h1>
  </div>
</div>