<div *ngIf="state | async; let state" class="ecs-app">

  <div class="ecs-app__container" [ngClass]="{'-sidebar-open': state.sidebarOpen}">
    <ecs-header [siteName]="siteName" [categories]="state.categories" [message]="message"></ecs-header>
    <div class="ecs-app__container-route">
      <router-outlet></router-outlet>
    </div>
    <ecs-footer></ecs-footer>
  </div>

  <ecs-bag-sidebar></ecs-bag-sidebar>
  <ecs-search-sidebar></ecs-search-sidebar>
  <ecs-account-sidebar></ecs-account-sidebar>

</div>