<form *ngIf="categoryForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit()" #form="ngForm" class="ecs-new-category-form">
  <div class="ecs-new-category-form__info">
    <h1 class="ecs-new-category-form__info-title">
      {{ category.title ? "Edit Category" : "Create Category" }}
    </h1>

    <button
      class="ecs-new-category-form__info-button"
      type="button"
      (click)="closeForm()"
    >
      <ecs-icon type="close" class="ecs-new-category-form__info-button-icon"></ecs-icon>
    </button>
  </div>

  <div class="ecs-new-category-form__form">
    <mat-form-field class="ecs-new-category-form__field">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        formControlName="title"
        [errorStateMatcher]="matcher"
        placeholder="Code">
      <mat-error *ngIf="categoryForm.controls['title'].hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
      <ecs-icon
        type="help"
        class="ecs-new-category-form__field-help"
        [matTooltip]="tooltips.title"
        matTooltipPosition="right"
      >
      </ecs-icon>
    </mat-form-field>

    <mat-form-field class="ecs-new-category-form__field">
      <mat-label>Label</mat-label>
      <input
        type="text"
        matInput
        formControlName="label"
        [errorStateMatcher]="matcher"
        placeholder="Code">
      <mat-error *ngIf="categoryForm.controls['label'].hasError('required')">
        Label is <strong>required</strong>
      </mat-error>
      <ecs-icon
        type="help"
        class="ecs-new-category-form__field-help"
        [matTooltip]="tooltips.label"
        matTooltipPosition="right"
      >
      </ecs-icon>
    </mat-form-field>

    <div class="ecs-new-category-form__field">
      <textarea
        class="ecs-new-category-form__field"
        type="text"
        [froalaEditor]="{placeholderText: 'Description'}"
        formControlName="description"
        placeholder="Description">
      </textarea>
      <ecs-icon
        type="help"
        class="ecs-new-category-form__field-help"
        [matTooltip]="tooltips.description"
        matTooltipPosition="right"
      >
      </ecs-icon>
    </div>

    <button class="ecs-new-category-form__submit">Save</button>
  </div>





</form>